<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- myname이 있으면 myname을, 없으면 Django를 출력.-->
    <h1>Hello, {{ request.session.myname | default:'Django' }} with mysql</h1>

    <table border="1">
      <col width="50">
      <col width="100">
      <col width="500">
      <col width="100">
      <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>작성일</th>
      </tr>
      {% if not list %}
        <tr><th colspan="4">----------작성된 글이 없습니다.----------</th></tr>
      {% else %}
        {% for data in list %}
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.myname }}</td>
            <td><a href="">{{ data.mytitle }}</a></td>
            <td>{{ data.mydate }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
</body>
</html>