<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- myname이 있으면 myname을, 없으면 Django를 출력.-->
    <h1>Hello, {{ request.session.myname | default:'Django' }} with mysql</h1>

    <table border="1">
      <col width="50">
      <col width="100">
      <col width="500">
      <col width="100">
      <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>작성일</th>
      </tr>
      {% if not list %}
        <tr><th colspan="4">----------작성된 글이 없습니다.----------</th></tr>
      {% else %}
        {% for data in list %}
          <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.myname }}</td>
            <td><a href="{% url 'detail' data.id %}">{{ data.mytitle }}</a></td>
            <td>{{ data.mydate | date:"Y-m-d" }}</td>
          </tr>
        {% endfor %}
      {% endif %}
        <tr>
            <td colspan="4" align="right">
                <input type="button" value="글작성" onclick="location.href='{% url 'insert' %}'"> <!-- {% url 'insert' %}는 서버에서 동작하는 것 -->
            </td>
        </tr>
    </table>
    <!-- pagination 추가 -->

    <!-- 처음으로 -->
    <a href="?page=1">처음</a>
    <!-- 이전 페이지 -->
    {% if list.has_previous %} <!-- has_previous : 이전 페이지 유무 -->
        <a href="?page={{ list.previous_page_number }}">이전</a>
    {% else %}
        <a>이전</a>
    {% endif %}
    <!-- 페이징 -->
    {% for page_num in list.paginator.page_range %} <!-- paginator.page_rannge : 페이지 범위-->
        {% if page_num == list.number %} <!-- 반복문에서 가져온 페이지랑 LIST 페이지 숫자가 같으면 -->
            <b>{{ page_num }}</b>
        {% else %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
        {% if list.has_next %} <!-- 다음 페이지 유무 -->
            <a href="?page={{ list.next_page_number }}">다음</a> <!-- next_page_number : 다음 페이지 번호-->
        {% else %}
            <a>다음</a>
        {% endif %}
        <!-- 끝으로 -->
        <a href="?page={{ list.paginator.num_pages }}">끝</a> <!-- 페이지 갯수 가져와서 가장 마지막 -->

        <br><br>

        <!-- 로그인 -->
        {% if not request.session.myname %}
            <a href="login/">로그인</a>
        {% else %}
            <a href="logout/">로그아웃</a>
        {% endif %}
        <!-- 회원가입 -->
        <a href="register/">회원가입</a>

</body>
</html>